.project_title {
    position: relative;
    margin-bottom: 64px;
}

.project_btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.project_flex {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.project_left {
    width: 755px;
    position: relative;
    overflow: hidden;
}

.project_left img {
    max-width: 100%;
}

.project_left_overlay {
    position: absolute;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.project_left_overlay_text {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.project_left_overlay h5 {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.project_left_overlay p {
    color: rgb(255, 255, 255, .7);
    margin-bottom: 40px;
}

.project_overly_btn a {
    color: #FFFFFF;
}

.project_left:hover .project_left_overlay {
    left: 0;
}

.project_right {
    width: 354px;
}

.project_right_inner {
    position: relative;
    overflow: hidden;
}

.project_right_inner img {
    max-width: 100%;
}

.project_right_inner:first-child {
    margin-bottom: 35px;
}

.project_right_overlay {
    position: absolute;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.project_right_overlay_text {
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding: 0 25px;
}

.project_right_overlay h5 {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.project_right_inner:hover .project_right_overlay {
    top: 0;
}