.process_title {
    text-align: center;
    margin-bottom: 50px;
}

.process_flex {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.process_item {
    width: 261px;
    padding-top: 56px;
    position: relative;
}

.process_item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #2405F2;
}

.process_item::before {
    position: absolute;
    content: '';
    top: 10px;
    right: 15px;
    height: 2px;
    width: 80%;
    border-bottom: 2px solid #2405f266;
    border-bottom-style: dashed;
}

.process_item h5 {
    margin-bottom: 8px;
}