.feature_support_flex {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
}

.feature_support_text {
    width: 560px;
    align-self: center;
}

.feature_support_text h6 {
    margin-bottom: 16px;
}

.feature_support_text h3 {
    margin-bottom: 16px;
}

.feature_support_img {
    width: 500px;
}

.feature_support_img img {
    max-width: 100%;
}