.blog_title {
    margin-bottom: 60px;
}

.blog_flex {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.blog_item {
    width: 33%;
}

.blog_item img {
    max-width: 100%;
    margin-bottom: 40px;
}

.blog_item span {
    margin-bottom: 16px;
}

.blog_item h5 {
    margin-bottom: 16px;
    font-size: 22px;
}

.blog_btn {
    margin-top: 30px;
}