.goal {
    padding: 0;
}

.goal_flex {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    flex-wrap: wrap;
    background: #F4F5F5;
}

.goal_text {
    width: 540px;
    padding: 50px;
}

.goal_text:first-child {
    padding-right: 0;
}

.goal_text:nth-child(2) {
    padding-left: 0;
}

.goal_text:nth-child(2) h3 {
    margin-top: 36px;
}

.goal_text h6 {
    margin-bottom: 5px;
}

.goal_text h3 {
    margin-bottom: 16px;
    font-size: 35px;
}

.goal_img {
    width: 100%;
}

.goal_img img {
    max-width: 100%;
}